.account {

}

.account__header {
    padding-top: 60px;
    height: 218px;
    width: 100%;
    display: flex;
}

.account__header h1 {
    margin: auto;
    font-size: 54px;
}

.account__body {
    height: 498px;
    margin-left: 120px;
    margin-right: 120px;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.account__content {
    height: 498px;
}

@media (max-width: 768px) {
    .account__body {
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
    }

    .account__content {
        height: auto;
    }
}