nav {
  position: fixed;   
  top: 0;            
  left: 0;           
  width: 98%;       
  height: 60px;       
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: 600;
  background-color: white;    
  display: flex;     
  align-items: center; 
  padding: 0 20px;   
  z-index: 1000;    
  justify-content: space-between;
}

.center a {
    margin: 0 30px 0 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.639);
}

.leftSide {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.639);
}

.center {
  display: flex;
  justify-content: center;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}